<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rubrica</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>

    <div class="container mt-5">
        <h1 class="mb-4">GC Rubrica json DB</h1>
        <div class="row">
            <div class="col-md-6">
                <a href="/rubrica" class="btn btn-primary btn-block">Visualizza Rubrica</a>
            </div>
        </div>
    </div>

</body>

</html>