<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rubrica</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

    <div class="container mt-5">
        <h1 class="mb-4">Rubrica</h1>

        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Nome</th>
                    <th>Cognome</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Azioni</th>
                </tr>
            </thead>
            <tbody>
                {% for contatto in rubrica %}
                <tr>
                    <td>{{ contatto.Nome }}</td>
                    <td>{{ contatto.Cognome }}</td>
                    <td>{{ contatto.Email }}</td>
                    <td>{{ contatto.Telefono }}</td>

                    <td>
                        <a href="/rubrica/get/{{ loop.index }}" class="btn btn-info">Dettaglio</a>
                        <a href="/rubrica/delete/{{ loop.index }}" class="btn btn-danger">Cancella</a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="/rubrica/add" class="btn btn-primary">Aggiungi Contatto</a>
        <a href="/" class="btn btn-secondary">Torna alla Home</a>
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.9/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>